html {
    height: 50%;
}
body{
    background-color: lightskyblue;
    color: blanchedalmond;
    height: 25%;
    
}
img{
    background-position: center;
    background-size: cover;
    height: 620px;
    background-repeat: repeat;
}
h1{
    text-align: center;
    color: black;
    background-color: azure;
    font-family: "Oswald", sans-serif; 
    padding: 10px;
    margin: 30px;
}
.div-1{
    padding: 20px;
    width: 300px;
    float: right;
}
.card{
    text-align: left;
    color: black;
    font-size: 25px;
    
}